*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: .2s linear;
    text-transform: capitalize;
    font-family: sans-serif;
}
:root{
    --deep-purple:#320c46;
    --white:#fff;
    --light-purple: blueviolet; /*#eb6234*/
    --purple:rgb(149, 59, 233);
    --light-white:rgb(230, 227, 227);
    --pink:rgb(255, 71, 215);
    --green:#00E77F;
    --deep-green:#32be8f;
    --white:#fff;
    --light-white:#3d3d3d;
    --black:#3d3d3d;
    --light-bg:#4b4b4b;
}
section{
    max-width: 100%;
    margin: 0 suto;
    padding: 2rem;
}
section{
    max-width: 100%;
    margin: 7% auto;
    padding: 2rem;
}
.about, .contact{
    max-width: 100%;
    padding: 2rem;
    margin: 10% auto;
}
/*Universal Heading*/
.heading{
    margin-bottom: 4.5rem;
    text-align: center;
    font-size: 4rem;
    color: var(--white);
}
.heading span{
    color: var(--green);
}
/* bar */
.nav-bar{
    background: var(--light-bg);
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    border-top: 1px solid var(--white);
    border-bottom: 1px solid var(--white);
    text-align: center;
    font-family: 'PT Serif', serif;
    z-index: 1000;
}
.nav-bar ul{
    list-style: none;
    display: inline-flex;
}
.nav-bar ul li{
    width: 200px;
    padding: 12px;
    margin: 15px;
}
.nav-bar ul li a{
    text-decoration: none;
    color: var(--green);
    font-size: 19px;
    font-weight: bolder;
}

.always, .nav-bar ul li:hover{
    background-color: var(--black);
    border-radius: 5px;
    transition: 0.3s;
    font-size: 24px;
    font-weight: 550;
}
.nav-bar i{
    margin-right: 8px;
}
.sub{
    display: none;
}
.nav-bar ul li:hover .sub{
    display: block;
    position: absolute;
    background-color: var(--black);
    margin-top: 10px;
    margin-left: -12px;
    opacity: 0.9;
    border-radius: 5px;
}
.nav-bar ul li:hover .sub ul{
    display: block;
    margin: 15px;
}
.nav-bar ul li:hover .sub ul li{
    width: 140px;
    padding: 10px;
    border-top: 2px solid var(--white);
    text-align: center;
    font-weight: 100;
}
.sub ul li a:hover{
    color: var(--white);
}

/*header section ends*/



/*First div*/
.card-container{
    position: relative;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.card-container .card{
    position: relative;
    width: 300px;
    height: 420px;
    background: var(--white);
    margin: 20px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
}
.card-container .card .circle{
    position: relative;
    width: 100%;
    height: 100%;
    background: var(--deep-green);
    clip-path: circle(180px at center 0);
    text-align: center;
}
.card-container .card .circle i{
    color: var(--white);
    font-size: 4.5em;
    padding: 40px 10px 10px 10px;
}
.card-container .card .circle .fas-1{
    display: none;
}
.card-container .card:hover .fas-1{
    display: inline-block;
}
.card-container .card .content{
    position: absolute;
    bottom: 10px;
    padding: 20px;
    page-break-after: 20px;
    text-align: center;
}
.card:hover{
    background: var(--deep-green);
    color: #fff;
    transform: scale(1.05);
}
.card:hover .circle{
    background: var(--white);
    transition-delay: 1s;
}
.card:hover .circle i{
    color: var(--deep-green);
    display: none;
}
.body{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    margin: -80px 0;
}
.coupon h1{
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    position: relative;
    width: 20%;
    padding: 1rem 1.5rem;
    margin: 0 auto;
    line-height: 2rem;
    word-spacing: .3rem;
    background: var(--light-bg);
    color: var(--white);
    border: 1px solid var(--black);
    border-radius: 10px;
}
.card-reveal{
    position: relative;
    width: 300px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 0px 5px 20px rgba(0,0,0,.5);
    transition: .3s;
    padding: 30px 50px;
    background: var(--white);
    margin-right: 5%;
    cursor: pointer;
    margin: auto;
}
.card-reveal:hover{
    height: 320px;
}
.imgbox{
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateY(-80px);
    border-radius: 5px;
}
.imgbox img{
    width: 100%;
    border-radius: 5px;
    z-index: 99;
    background: var(--green);
}
.imgbox i{
    font-size: 5rem;
    margin-left: 2rem;
    background: var(--green);
    padding: 1.5rem 2.5rem;
    border-radius: 50%;
    color: var(--white);
}
.card-reveal .content{
    padding: 10px 20px;
    text-align: center;
    transform: translateY(-450px);
    opacity: 0;
    transition: .3s;
    margin-top: 2.5rem;
}
.card-reveal:hover > .content{
    opacity: 1;
    transform: translateY(-200px);
}
.card-reveal .content h2{
    color: #ccc;
    font-weight: bolder;
}

/*First div starts*/
.card-body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-attachment: fixed;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    margin-top: 7%;
    /*padding: 0 8%;*/
}
.card-body h1{
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 40%;
    font-weight: 600;
    position: absolute;
}
.card-body h1 .underline{
    width: 90%;
    height: 5px;
    background: #767676;
    border-radius: 3px;
    position: relative;
    top: 15px;
    left: 10px;
}
.card-body h1 .underline span{
    width: 15px;
    height: 100%;
    background: #fff;
    border-radius: 3px;
    position: absolute;
    top: 0;
    right: 10px;
    animation: moving 2s linear infinite;
    overflow: hidden;
}
@keyframes moving{
    0%{
        right: -20px;
    }
    100%{
        right: 100%;
    }
}
.coupon button{
    display: inline-block;
    margin-bottom: 2rem;
    margin-left: 45%;
    border-radius: 5rem;
    background-color: var(--light-bg);
    cursor: pointer;
    color: var(--white);
    font-size: 1.5rem;
    padding: 1rem 1.5rem;
    transition: .3s;
}
.coupon button:hover{
    background-color: var(--green);
    transform: scale(1.05);
}
.coupon button a{
    color: var(--white);
}
/*Footer section starts*/

.footer{
    width: 100%;
    position: relative;
    background-color: var(--light-white);
    color: #fff;
    bottom: 0;
    padding: 50px 0 30px;
    font-size: 13px;
    line-height: 20px;
    font-family: sans-serif;
}
.footer .row{
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}
.row .col{
    flex-basis: 25%;
    padding: 10px;
}
.row .col:nth-child(2), .col:nth-child(3){
    flex-basis: 15%;
}
.row .col .logo{
    width: 80px;
    margin-bottom: 30px;
    border-radius: 50%;
}
.row .col h3{
    width: fit-content; /*If u write 4 letters, width is account for 4 letters*/
    margin-bottom: 40px;
    position: relative;
}
.row .col p{
    word-spacing: .2rem;
    text-transform: none;
}
.row .col .email-id{
    width: fit-content;
    border-bottom: 1px solid #ccc;
    margin: 20px 0;
}
.row .col a{
    text-decoration: none;
    color: #fff;
    margin: 20px 0;
    display: flex;
}
.row .col form{
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;
}
.row .col form .email{
    font-size: 18px;
    margin-right: 10px;
}
.row .col form input{
    width: 100%;
    background: transparent;
    border: 0;
    outline: none;
}
.row .col form button{
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
}
.row .col form button .arrow{
    font: 16px;
    color: #ccc;
}
.row .col .social-media{
    display: flex;
    margin-top: -3rem;
}
.row .col .social-media .social-icon {
    display: flex;
    height: 46px;
    width: 46px;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
    color: #333;
    border-radius: 50%;
    border: 1px solid #333;
    text-decoration: none;
    font-size: 1.3rem;
    transition: 0.3s;
    background: var(--white);
}
.row .col .social-icon i{
      color: var(--black);
}
.row .col .social-media .social-icon:hover{
      background: var(--green);
}
.row .col .social-media .social-icon:hover i{
      color: var(--white);
}
hr{
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 20px auto;
}
.copyright{
    text-align: center;
}
.underline{
    width: 100%;
    height: 5px;
    background: #767676;
    border-radius: 3px;
    position: absolute;
    top: 25px;
    left: 0;
}
.underline span{
    width: 15px;
    height: 100%;
    background: #fff;
    border-radius: 3px;
    position: absolute;
    top: 0;
    right: 10px;
    animation: moving 2s linear infinite;
    overflow: hidden;
}
@keyframes moving{
    0%{
        right: -20px;
    }
    100%{
        right: 100%;
    }
}