*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: .2s linear;
    text-transform: capitalize;
    font-family: sans-serif;
}
:root{
    --green:#00E77F;
    --deep-green:#32be8f;
    --white:#fff;
    --light-white:#3d3d3d;
    --black:#3d3d3d;
    --light-bg:#4b4b4b;
}
section{
    max-width: 100%;
    margin: 0 auto;
    padding: 2rem;
}
/*bg*/
.wave{
	position: fixed;
	bottom: 0;
	left: 0;
	height: 100%;
	z-index: -1;
}

/*Header*/
.header{
    width: 100%;/* height: 110px; *//* background-color: rgb(244, 220, 245); */
}
/* bar */
.nav-bar{
    background: var(--light-bg);
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    border-top: 1px solid var(--white);
    border-bottom: 1px solid var(--white);
    text-align: center;
    font-family: 'PT Serif', serif;
    z-index: 1000;
}
.nav-bar ul{
    list-style: none;
    display: inline-flex;
}
.nav-bar ul li{
    width: 200px;
    padding: 12px;
    margin: 15px;
}
.nav-bar ul li a{
    text-decoration: none;
    color: var(--green);
    font-size: 19px;
    font-weight: bolder;
}

.always, .nav-bar ul li:hover{
    background-color: var(--black);
    border-radius: 5px;
    transition: 0.3s;
    font-size: 24px;
    font-weight: 550;
}
.nav-bar i{
    margin-right: 8px;
}
.sub{
    display: none;
}
.nav-bar ul li:hover .sub{
    display: block;
    position: absolute;
    background-color: var(--black);
    margin-top: 10px;
    margin-left: -12px;
    opacity: 0.9;
    border-radius: 5px;
}
.nav-bar ul li:hover .sub ul{
    display: block;
    margin: 15px;
}
.nav-bar ul li:hover .sub ul li{
    width: 140px;
    padding: 10px;
    border-top: 2px solid var(--white);
    text-align: center;
    font-weight: 100;
}
.sub ul li a:hover{
    color: var(--white);
}
/*header section ends*/

/*Service section starts*/
.container{
    width: 100%;
    height: 90vh;
    padding: 0 8%;
}
.container h1{
    text-transform: capitalize;
    text-align: center;
    padding-top: 10%;
    margin-bottom: 60px;
    font-weight: 600;
    position: relative;
}
.container h1::after{
    content: '';
    background: var(--deep-green);
    width: 150px;
    height: 5px;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}
.service-body{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap: 30px;
}
.service{
    text-align: center;
    padding: 25px 10px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    background: linear-gradient(rgba(104, 109, 107, 0.653), rgba(12, 167, 105, 0.653));
}
.service i{
    font-size: 40px;
    margin-bottom: 10px;
    color: var(--white);
}
.service h2{
    text-transform: capitalize;
    font-weight: 600;
    margin-bottom: 8px;
    color: #fff;
}
.service p{
    color: var(--white);
    text-transform: none;
}
.service:hover{
    background: var(--green);
    transform: scale(1.05);
}
.service:hover i{
    color: #fff;
}
.service:hover h2{
    color: #fff;
}
.service:hover p{
    color: #fff;
}

/*Service section ends*/

/*Hiring section start*/
.card-body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin-top: 10%;
    background-attachment: fixed;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    /*padding: 0 8%;*/
}
.card-body h1{
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 40%;
    font-weight: 600;
    position: absolute;
    letter-spacing: 2px;
}
.card-body h1::after{
    content: '';
    background: var(--deep-green);
    width: 150px;
    height: 5px;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}
.card-container{
    position: relative;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.card-container .card{
    position: relative;
    width: 300px;
    height: 470px;
    background: var(--white);
    margin: 20px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
}
.card-container .card .circle{
    position: relative;
    width: 100%;
    height: 100%;
    background: var(--deep-green);
    clip-path: circle(220px at center 0);
    text-align: center;
}
.card-container .card .content{
    position: relative;
    bottom: 50%;
    padding: 5px;
    page-break-after: 20px;
    text-align: center;    
    margin: 0 auto;
    margin-bottom: 2rem;
}
.card-container .card .content h3{
    color: #666;
    margin: 0 auto;
    line-height: 1.8rem;
    font-size: 1.5rem;
}
.card:hover{
    transform: scale(1.07);
}
/*Hiring section ends*/

/*Footer section starts*/

.footer{
    width: 100%;
    position: relative;
    background-color: var(--light-white);
    color: #fff;
    bottom: 0;
    padding: 50px 0 30px;
    font-size: 13px;
    line-height: 20px;
    font-family: sans-serif;
}
.footer .row{
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}
.row .col{
    flex-basis: 25%;
    padding: 10px;
}
.row .col:nth-child(2), .col:nth-child(3){
    flex-basis: 15%;
}
.row .col .logo{
    width: 80px;
    margin-bottom: 30px;
    border-radius: 50%;
}
.row .col h3{
    width: fit-content; /*If u write 4 letters, width is account for 4 letters*/
    margin-bottom: 40px;
    position: relative;
}
.row .col p{
    word-spacing: .2rem;
    text-transform: none;
}
.row .col .email-id{
    width: fit-content;
    border-bottom: 1px solid #ccc;
    margin: 20px 0;
}
.row .col a{
    text-decoration: none;
    color: #fff;
    margin: 20px 0;
    display: flex;
}
.row .col form{
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;
}
.row .col form .email{
    font-size: 18px;
    margin-right: 10px;
}
.row .col form input{
    width: 100%;
    background: transparent;
    border: 0;
    outline: none;
}
.row .col form button{
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
}
.row .col form button .arrow{
    font: 16px;
    color: #ccc;
}
.row .col .social-media{
    display: flex;
    margin-top: -3rem;
}
.row .col .social-media .social-icon {
    display: flex;
    height: 46px;
    width: 46px;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
    color: #333;
    border-radius: 50%;
    border: 1px solid #333;
    text-decoration: none;
    font-size: 1.3rem;
    transition: 0.3s;
    background: var(--white);
}
.row .col .social-icon i{
      color: var(--black);
}
.row .col .social-media .social-icon:hover{
      background: var(--green);
}
.row .col .social-media .social-icon:hover i{
      color: var(--white);
}
hr{
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 20px auto;
}
.copyright{
    text-align: center;
}
.underline{
    width: 100%;
    height: 5px;
    background: #767676;
    border-radius: 3px;
    position: absolute;
    top: 25px;
    left: 0;
}
.underline span{
    width: 15px;
    height: 100%;
    background: #fff;
    border-radius: 3px;
    position: absolute;
    top: 0;
    right: 10px;
    animation: moving 2s linear infinite;
    overflow: hidden;
}
@keyframes moving{
    0%{
        right: -20px;
    }
    100%{
        right: 100%;
    }
}